* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Roboto, sans-serif;
  display: block;
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
}
a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1184px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  height: 720px;
}

@media screen and (max-width: 470px){
  .container {
    height: 300px;
  }
}

.send-form {
  display: flex;
  flex-flow: column;
  width: 50%;
  align-items: center;
}
.main-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.output{
  width: 50%;
  padding: 20px;
  background:#B7BEC1;
  border-radius: 5px;
  box-shadow: 5px black;
  border: 5px solid #112128;
  overflow:auto;
}
.header{
  color:white;
  padding: auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 170px;
}
.out_text{
  color:white;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  margin-top: 150px;
}
.send-btn{
  cursor: pointer;
}
.bn31 {
  margin-top: 20px;
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #00a84f;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
}

.bn31:hover {
  color: #fff;
}

.bn31 .bn31span {
  align-items: center;
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027 );
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn31:hover .bn31span {
  background: transparent;
}
.form__group{
  width: 100%;
}
.form__label {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgba(255, 255, 255, 0.671);
  border: none;
  width: 100%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}
